<div class="container">
    <div class="row">
        <h1>Environnement visé</h1>
        <div class="col-md-8">
            <p>
              {{ environment.intro }}
            </p>
            <p><strong>Aspect environnemental: </strong>
              {{ environment.environmental }}
            </p>
            <p><strong>Aspect social: </strong>
              {{ environment.social }}
            </p>
            <p><strong>Aspect économique: </strong>
              {{ environment.economic }}
            </p>
        </div>
        <div class="col-md-4">
            <!-- Figure doc: https://getbootstrap.com/docs/5.3/content/figures/ -->
            <figure class="figure">
                <img [src]="environment.imageUrl" class="img-thumbnail rounded" alt="{{ environment.imageCaption }}">
                <figcaption class="figure-caption">{{ environment.imageCaption }}
                    (source: <a [href]="environment.imageSourceUrl">{{ environment.imageSource }}</a>)
                </figcaption>
            </figure>
        </div>
    </div>
</div>
