<div class="container">
    <h2>Analyse SWOT</h2>
    <div class="row">
        <div class="col-md-6 mb-3">
            <!-- Card doc: https://getbootstrap.com/docs/5.3/components/card/#header-and-footer-->
            <div class="card">
                <h5 class="card-header text-bg-success">Forces</h5>
                <div class="card-body">
                  <p *ngFor="let strength of goals.strengths" class="card-text">
                    {{ strength }}
                  </p>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <div class="card">
                <h5 class="card-header text-bg-primary">Faiblesses</h5>
                <div class="card-body">
                  <p *ngFor="let weakness of goals.weaknesses" class="card-text">
                    {{ weakness }}
                  </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="card">
                <h5 class="card-header text-bg-warning">Opportunités</h5>
                <div class="card-body">
                  <p *ngFor="let opportunity of goals.opportunities" class="card-text">
                    {{ opportunity }}
                  </p>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <div class="card">
                <h5 class="card-header text-bg-danger">Menaces</h5>
                <div class="card-body">
                  <p *ngFor="let threat of goals.threats" class="card-text">
                    {{ threat }}
                  </p>
                </div>
            </div>
        </div>
    </div>
</div>
