<div class="container">
    <h2>Analyse SWOT</h2>
    <div class="row">
        <div class="col-md-6 mb-3">
            <!-- Card doc: https://getbootstrap.com/docs/5.3/components/card/#header-and-footer-->
            <div class="card">
                <h5 class="card-header text-bg-success">Forces</h5>
                <div class="card-body">
                  <p class="card-text">
                    Connaissances préalables en développement
                  </p>
                  <p class="card-text">
                    Facilités d'intégration sociale
                  </p>
                  <p class="card-text">
                    Facilités "scolaires"
                  </p>
                  <p class="card-text">
                    Motivé et passionné
                  </p>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <div class="card">
                <h5 class="card-header text-bg-primary">Faiblesses</h5>
                <div class="card-body">
                  <p class="card-text">
                    Rythme de travail faible précédemment
                  </p>
                  <p class="card-text">
                    Sensibilités sensorielles excessives
                  </p>
                  <p class="card-text">
                    Besoins de "calme"
                  </p>
                  <p class="card-text">
                    Peu à l'écoute de moi-même
                  </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="card">
                <h5 class="card-header text-bg-warning">Opportunités</h5>
                <div class="card-body">
                    <p class="card-text">
                        Profiter de consolider et augmenter les connaissances
                    </p>
                    <p class="card-text">
                        Avoir des contacts pour un futur job
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <div class="card">
                <h5 class="card-header text-bg-danger">Menaces</h5>
                <div class="card-body">
                    <p class="card-text">
                        Menace de surcharge sensorielle - Burn-out
                    </p>
                    <p class="card-text">
                        
                  </p>
                </div>
            </div>
        </div>
    </div>
</div>