<div class="container">
    <h1>Moi, mon personnage</h1>
    <h2>Qui êtes-vous ?</h2>
    <p>Je suis un biologiste de formation avec un parcours tortueux. J'ai été animateur biologiste dans un centre nature
        et
        enseignant de sciences.</p>
    <p>J'aime l'humour noir, admirer et étudier mon environnement. La course à pied est pour moi vitale pour mon
        équilibre
        physique et mental.</p>
    <p>
        Je suis politiquement de gauche et écolo. Je suis également progressiste. J'aime d'ailleurs lire <a
            href="https://fr.wikipedia.org/wiki/Noam_Chomsky">Noam Chomsky</a>
        qui m'inspire. Je suis anti-militariste (membre du <a href="https://gssa.ch/">GSSA</a>) et antireligieux. Par
        contre, j'ai toujours défendu la liberté religieuse même si je la pense nuisible à l'humanité.
        Je combats par contre le créationnisme. Sur cette question religieuse, je suis en accord avec <a
            href="https://fr.wikipedia.org/wiki/Richard_Dawkins">Richard Dawkins</a>
        (auteur du "Gène égoïste") dont j'apprécie beaucoup la vision. Par humour, je me considère <a
            href="https://fr.wikipedia.org/wiki/Pastafarisme">pastafarien.</a>
    </p>

    <p>J'ai une forte passion pour la mycologie (étude des champignons) depuis mon adolescence. Je suis d'ailleurs
        membre
        des sociétés mycologiques de Genève et d'Ajoie.
        Mais il est interdit de m'inviter à dîner un mercredi soir pour parler du sujet...</p>

    <h4>Quelques photos de champignons et myxomycètes</h4>

    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="./styles/photos/cordyceps_militaris.jpeg" data-toggle="lightbox">
                    <img src="./styles/photos/cordyceps_militaris.jpeg" alt="Cordyceps militaris" style="width:100%">
                    <div class="caption">
                        <p>Cordyceps militaris</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="./styles/photos/cortinarius_violaceus.jpeg" data-toggle="lightbox">
                    <img src="./styles/photos/cortinarius_violaceus.jpeg" alt="Cortinarius violaceus"
                        style="width:100%">
                    <div class="caption">
                        <p>Cortinarius violaceus</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="./styles/photos/hemitrichia_serpula.jpeg" data-toggle="lightbox">
                    <img src="./styles/photos/hemitrichia_serpula.jpeg" alt="Hemitrichia serpula" style="width:100%">
                    <div class="caption">
                        <p>Hemitrichia serpula</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="./styles/photos/hygrocybe_punicea.jpeg" data-toggle="lightbox">
                    <img src="./styles/photos/hygrocybe_punicea.jpeg" alt="Hygrocybe punicea" style="width:100%">
                    <div class="caption">
                        <p>Hygrocybe punicea</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="./styles/photos/lamproderma_nigrescens.jpg" data-toggle="lightbox">
                    <img src="./styles/photos/lamproderma_nigrescens.jpg" alt="Lamproderma nigrescens"
                        style="width:100%">
                    <div class="caption">
                        <p>Lamproderma nigrescens</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="./styles/photos/omphalotus_illudens.jpeg" data-toggle="lightbox">
                    <img src="./styles/photos/omphalotus_illudens.jpeg" alt="Omphalotus illudens" style="width:100%">
                    <div class="caption">
                        <p>Omphalotus illudens</p>
                    </div>
                </a>
            </div>
        </div>

    </div>

    <h2>Avec quoi venez-vous ?</h2>
    <p>Je viens avec diverses compétences de langages (php, Python, Java), différents frameworks
        (Bootstrap, Symfony, Api Platform, ReactJS) et différents environnements (Docker, terminal
        linux)</p>

    <h3>Quelques applications web réalisées</h3>
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-6 mb-3">
                <!-- Card doc: https://getbootstrap.com/docs/5.3/components/card/#images -->
                <div class="card" style="width: 18rem;">
                    <a href="https://champis.net">
                        <img src="./styles/photos/champisnet.png" class="card-img-top" alt="Champis.net">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Champis.net</h5>
                        <p class="card-text">Site web de mycologie avec un forum de discussion phpBB.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-3">
                <div class="card" style="width: 18rem;">
                    <a href="https://mycocarto.net">
                        <img src="./styles/photos/mycocartoch.png" class="card-img-top" alt="Mycocarto.ch">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Mycocarto.ch</h5>
                        <p class="card-text">Application web de cartographie des champignons réalisée avec Symfony (plus
                            utilisé)</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-3">
                <div class="card" style="width: 18rem;">
                    <a href="https://api.champis.net">
                        <img src="./styles/photos/apichampisnet.png" class="card-img-top" alt="Api.champis.net">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Api.champis.net</h5>
                        <p class="card-text">Api REST de champis.net réalisée avec API Platform</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-3">
                <div class="card" style="width: 18rem;">
                    <a href="https://expo.champis.net">
                        <img src="./styles/photos/expochampisnet.png" class="card-img-top" alt="Expo.champis.net">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Expo.champis.net</h5>
                        <p class="card-text">Application de gestion des expositions de champignons réalisé avec NextJS
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-3">
                <div class="card" style="width: 18rem;">
                    <a href="https://smajoie.ch">
                        <img src="./styles/photos/smajoiech.png" class="card-img-top" alt="Smajoie.ch">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Smajoie.ch</h5>
                        <p class="card-text">Site web de la société mycologique d'Ajoie réalisé avec Wordpress</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-3">
                <div class="card" style="width: 18rem;">
                    <a href="https://champignons-geneve.ch">
                        <img src="./styles/photos/champignonsgenevech.png" class="card-img-top"
                            alt="Champignons-geneve.ch">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Champignons-geneve.ch</h5>
                        <p class="card-text">Site web de la société mycologique de Genève réalisé avec Wordpress</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-3">
                <div class="card" style="width: 18rem;">
                    <a href="https://troncs.champignons-geneve.ch">
                        <img src="./styles/photos/troncschampignonsgenevech.png" class="card-img-top"
                            alt="Troncs.champignons-geneve.ch">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Troncs.champignons-geneve.ch</h5>
                        <p class="card-text">Application web de statistiques pour l'étude des champignons des troncs de
                            Versoix réalisé avec Python</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <h2>Comment j'aimerais terminer cette formation ?</h2>
    <p>Je souhaiterais terminer avec des connaissances plus approfondies et un code toujours plus
        performant et réutilisable sur le long terme. Je souhaiterais me spécialiser en backend et typiquement
        réaliser un projet avec le framework Laravel que je ne connais pas. J'ai uniquement utilisé Symfony.
        Je souhaite par contre aussi avoir une vision globale et utiliser également des frameworks frontend.
        Je souhaiterais utiliser VueJS car je n'ai utilisé jusqu'à maintenant que ReactJS.
    </p>
    <p>
        Je souhaiterais également terminer avec un job dans le développement backend dans une entreprise qui me
        correspond.
    </p>
    <h2>Qui je serai et avec quoi je finirai ?</h2>
    <p>Un développeur web avec des connaissances généralistes (Sysadmin, DevOps, Backend, Frontend)
        et une spécialisation en Backend. Je souhaite aussi m'enrichir des contacts réalisés.
    </p>
</div>