<div class="container">
    <div class="row">
        <div class="col-md-8">
            <!-- Heading doc: https://getbootstrap.com/docs/5.3/content/typography/#customizing-headings -->
            <h1>{{ identity.name }}<small class="text-muted"> ({{ identity.username }})</small></h1>
            <!-- Blockquote doc: https://getbootstrap.com/docs/5.3/content/typography/#blockquotes -->
            <figure class="p-3">
                <blockquote class="blockquote">
                    <p>
                      {{ identity.citation }}
                    </p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    {{ identity.citationAuthor}} dans <cite title="Source Title">{{ identity.citationBook }}</cite>
                </figcaption>
            </figure>
        </div>
        <div class="col-md-4">
            <!-- Image doc: https://getbootstrap.com/docs/5.3/content/images/#image-thumbnails -->
            <img [src]="identity.profilePhotoUrl" class="img-fluid img-thumbnail rounded h-100"
                 alt="profile">
        </div>
    </div>
</div>
